button {
  border-radius: 3px;
  border-style: solid;
  padding: 10px;
  margin: 5px;
}

nav {

  .logo {
    font-weight: bold;
    font-size: 150%;
  }

  div {
    display: inline;
    float: right;
    span {
      margin: 0 20px;
    }
  }

  span:hover {
    color: red;
  }

  button {
    background-color: #1D96FA;
    color: white;
    border-color: #1D96FA;;
    margin: 5px 5px 5px 50px;
  }
}

.title {
  max-width: 420px;
  margin-top: 20px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.orange {
  color: #F34423;
  background-color: #FAC4AE;
  border-color: #FAC4AE;
}

.green {
  color: #2ee093;
  background-color: #B7EDDD;
  border-color: #B7EDDD;
}

.center {
  text-align: center;
}

.first-articles {
  margin-top: 30px;
}

article {

  img {
    width: 60px;
    height: 60px;
  }

  p {
    max-width: 200px;
  }

  display: inline-block;
  text-align: left;
}

.first-card {
  text-align: left;
  justify-content: center;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;

  div {
    width: 600px;
    margin: 10px;
  }

  img {
    width: 300px;
    height: 300px;
  }
}

.blue {
  background-color: #1D96FA;
  border-color: #1D96FA;
  color: white;
}

.secound-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  p {
    max-width: 200px;
  }

  div {
    margin: 20px;
  }
}

.padding {
  padding: 90px;
}

.contact-us-button {
  color: #F34423;
  border-radius: 30px;
  border-color: #F34423;
}

ul {
  list-style: none;
  text-align: left;

  li {
    margin: 5px;
  }
}

.black-button {
  background-color: black;
  color: white;
  border-color: black;
}

.fa {
  margin: 5px;
  width: 20px;
  height: 20px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}